*{
  font-family: "Nunito Sans", sans-serif;
}
.hero{
  background-image: url("../img/abstract-blue-light-pipe-speed-zoom-black-background-technology/491362538070.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.hero .layer h1{
  font-size: 65px;
}
.hero .layer p.special{
  color:rgba(255, 255, 255, 0.5);
}
.hero .animate {
  width: 35px ;
  height: 70px ;
  border:solid 1px white;
  border-radius: 20px;
  position: absolute; 
  bottom: 5%;
  left:50%;
  transform: translateX(-50%);
  animation:chanage 2s infinite  ;
}
.hero .animate:after {
  content:"";
  width: 5px ;
  height: 10px ;
  background-color: white;
  position: absolute; 
  bottom: 20%;
  left:50%;
  transform: translateX(-50%);
}
@keyframes chanage{
  0%{
    bottom: 10%;
  }
  50%{
    bottom: 5%;
  }
  100%{
    bottom: 10%;
  }
}
.navbar-collapse{
    flex-grow: unset;
}
.nav-link {
  color: white
}
.nav-link.active {
  color:rgb(0, 102, 255) !important
}
.navbar-brand{
    font-size: 24px;
    font-weight: 700;
}
.bg-darkened{
    background-color: rgb(26, 26, 26);
}
.float-end, .float-right
{
    float: right;
}